
  <div class='container'>

    <div class='accordion _ccssmath'></div>

    <div class='results _ccssmath'>
      <h3>Mathematics <b>&raquo;</b> <span class='grade'>{ Grade }</span> <b>&raquo;</b> <span class='domain'>{ Domain }</span></h3>

      <hr />
      <h5>Standards in this domain</h5>
      { give list of dot notations - CAN GET }
      <hr />



    </div>

  </div>
