
  <div class='container'>

    <div class='accordion _ccsselaliteracy'></div>

    <div class='results _ccsselaliteracy'>

      <div class="alert-notification">
        <a class="close" href="#">&times;</a>
        <h3>Welcome to the LRI Browser</h3>
        <p>
          You can find resources for each Common Core Standard by choosing Mathematics or English and Language Arts and then choosing from the items on the left.  You can also search by keyword by typing in the search bar at the top right.
        </p>
      </div>

      <h3>English Language Arts <b>&raquo;</b> <span class='strand'></span> <b>&raquo;</b> <span class='domain'></span></h3>

      <hr />
      <h5>Standards in this strand</h5>
      <div class='domains'></div>
      <hr />

      <div class='content'></div>

    </div>

  </div>