
  <div class='container'>

    <div class='accordion _ccsselaliteracy'></div>

    <div class='results _ccsselaliteracy'>
      <h3>English Language Arts <b>&raquo;</b> <span class='strand'></span> <b>&raquo;</b> <span class='domain'></span></h3>

      <hr />
      <h5>Standards in this strand</h5>
      { give list of dot notations - CAN GET }
      <hr />



    </div>

  </div>