
<div class='inlineResult item hidden'>
  <div class='content'>
    <div class='imgs'>
      <img src='/assets/icon-finger.png' class='media' />
      <img src='/assets/icon-pages.png' class='reading' />
      <img src='/assets/icon-students.png' class='students' />
      <img src='/assets/icon-teacher.png' class='teachers' />
    </div>
    <h4>Resource Alpha Text</h4>
    <h5>Provider Organization</h5>
    <a href='' class='info'>i</a>
  </div>
</div>

