<div id='itemModal'>
  <a class="close" onclick='hideItemModal();'></a>
  <div class='imgs'>
    <img src='/assets/icon-finger.png' class='media' />
    <img src='/assets/icon-pages.png' class='reading' />
    <img src='/assets/icon-students.png' class='students' />
    <img src='/assets/icon-teacher.png' class='teachers' />
  </div>
  <h3></h3>
  <h4></h4>
  <a href='' class='link'>Site Link</a>
  <div class='content'></div>
  <div class='standards'><ul></ul></div>
  <div class='metadata'><ul>
    <li class='twisty open'>General
      <ul>
        <li class='publisher'>Publisher: <span></span></li>
        <li class='language'>Language: <span></span></li>
        <li class='topic'>Topic: <span></span></li>
        <li class='useRightsUrl'>Usage Rights URL: <span></span></li>
        <li class='isBasedOnUrl'>Based On URL: <span></span></li>
      </ul>
    </li>
    <li class='twisty'>Education
      <ul>
        <li class='intendedEndUserRole'>End User: <span></span></li>
        <li class='typicalAgeRange'>Age Range: <span></span></li>
        <li class='educationalUse'>Educational Use: <span></span></li>
        <li class='learningResourceType'>Learning Resource Type: <span></span></li>
        <li class='interactivityType'>Interactivity Type: <span></span></li>
        <li class='mediaType'>Media Type: <span></span></li>
        <li class='groupType'>Group Type: <span></span></li>
        <!-- li class='timeRequired'>Time Required: <span></span></li -->
      </ul>
    </li>
  </ul></div>
  <div class='date'></div>
  <a href='' class='bookmark'></a>
  <a href='' class='email'></a>
  <a href='' class='heart'></a>
  <a href='' class='go'>Go</a>
</div>