<div id='itemModal'>
  <a class="close" onclick='hideItemModal();'></a>
  <div class='imgs'>
    <img src='/assets/icon-finger.png' class='media' />
    <img src='/assets/icon-pages.png' class='reading' />
    <img src='/assets/icon-students.png' class='students' />
    <img src='/assets/icon-teacher.png' class='teachers' />
  </div>
  <h3></h3>
  <h4></h4>
  <div class='content'></div>
  <div class='standards'></div>
  <div class='date'></div>
  <a href='' class='bookmark'></a>
  <a href='' class='email'></a>
  <a href='' class='heart'></a>
  <a href='' class='go'>Go</a>
</div>