<div id='itemModal'>
  <a class="close" onclick='hideItemModal();'></a>
  <div class='imgs'>
    <img src='/assets/icon-finger.png' class='media' />
    <img src='/assets/icon-pages.png' class='reading' />
    <img src='/assets/icon-students.png' class='students' />
    <img src='/assets/icon-teacher.png' class='teachers' />
  </div>
  <h3></h3>
  <h4></h4>
  <a href='' class='link'>Site Link</a>
  <div class='content'></div>
  <div class='standards'><ul></ul></div>
  <div class='metadata'><ul>
    <li class='twisty open'>General
      <ul>
        <li class='language'>Language: <span></span></li>
        <li class='createdby'>Created By: <span></span></li>
        <li class='topic'>Topic: <span></span></li>
        <li class='usagerights'>Usage Rights URL: <span></span></li>
        <li class='isbasedonurl'>Based On URL: <span></span></li>
      </ul>
    </li>
    <li class='twisty'>Education
      <ul>
        <li class='enduser'></li>
        <li class='agerange'></li>
        <li class='educationaluse'></li>
        <li class='usagerights'>Usage Rights</li>
      </ul>
    </li>
  </ul></div>
  <div class='date'></div>
  <a href='' class='bookmark'></a>
  <a href='' class='email'></a>
  <a href='' class='heart'></a>
  <a href='' class='go'>Go</a>
</div>