
  <div class='container'>

    <div class='accordion'>

      <h3>Mathematical <span>standards</span></h3>
      <div>
        <p>Lorem</p>
        <p>Lorem</p>
      </div>

      <h3>Introduction <span>to Mathematics</span></h3>
      <div></div>

      <h3>Kindergarten</h3>
      <div></div>

      <h3>Grade <span>1</span></h3>
      <div></div>

      <h3>Grade <span>2</span></h3>
      <div></div>

      <h3>Grade <span>3</span></h3>
      <div></div>

      <h3>Grade <span>4</span></h3>
      <div></div>

      <h3>Grade <span>5</span></h3>
      <div></div>

      <h3>Grade <span>6</span></h3>
      <div></div>

      <h3>Grade <span>7</span></h3>
      <div></div>

      <h3>Grade <span>8</span></h3>
      <div></div>

      <h3>High School: <span>Number & Quantity</span></h3>
      <div></div>

      <h3>High School: <span>Algebra</span></h3>
      <div></div>

      <h3>High School: <span>Functions</span></h3>
      <div></div>

      <h3>High School: <span>Modeling</span></h3>
      <div></div>

      <h3>High School: <span>Geometry</span></h3>
      <div></div>

      <h3>High School: <span>Statistics & Probability</span></h3>
      <div></div>

    </div>

  </div>
