
<div class='container'>

  <button class='close'></button>
  <button class='facets'></button>

  <button class='close-facets'></button>
  <div class='accordion _facets'>
    <h3>Intended End User Role</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Administrator]'>Administrator</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Mentor]'>Mentor</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Parent]'>Parent</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Peer Tutor]'>Peer Tutor</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Specialist]'>Specialist</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Student]' id='studentsSecondaryCheckbox'>Student</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Teacher]' id='teachersSecondaryCheckbox'>Teacher</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Team]'>Team</label>
    </div>

    <h3>Typical Age Range</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[0-2]'>0-2</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[3-5]'>3-5</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[5-8]'>5-8</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[8-10]'>8-10</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[10-12]'>10-12</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[12-14]'>12-14</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[14-16]'>14-16</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[16-18]'>16-18</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[18+]'>18+</label>
    </div>

    <h3>Educational use</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Activity]'>Activity</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Analogies]'>Analogies</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Assessment]'>Assessment</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Auditory]'>Auditory</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Brainstorming]'>Brainstorming</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Classifying]'>Classifying</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Comparing]'>Comparing</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Cooperative Learning]'>Cooperative Learning</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Creative Response]'>Creative Response</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Demonstration]'>Demonstration</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Differentiation ]'>Differentiation </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Discovery Learning]'>Discovery Learning</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Discussion/Debate]'>Discussion/Debate</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Drill & Practice]'>Drill & Practice</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Experiential]'>Experiential</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Field Trip]'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Game]'>Game</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Generating hypotheses]'>Generating hypotheses</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Guided questions ]'>Guided questions </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Hands-on]'>Hands-on</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Homework]'>Homework</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Identify similarities & differences]'>Identify similarities & differences</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Inquiry]'>Inquiry</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interactive]'>Interactive</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interview/Survey]'>Interview/Survey</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interviews]'>Interviews</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Introduction]'>Introduction</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Journaling ]'>Journaling </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Kinesthetic]'>Kinesthetic</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Laboratory]'>Laboratory</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Lecture]'>Lecture</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Metaphors]'>Metaphors</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Model & Simulation]'>Model & Simulation</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Musical]'>Musical</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Nonlinguistic ]'>Nonlinguistic </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Note taking ]'>Note taking </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Peer Coaching]'>Peer Coaching</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Peer Response]'>Peer Response</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Play]'>Play</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Presentation]'>Presentation</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Problem Solving]'>Problem Solving</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Problem Based]'>Problem Based</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Project]'>Project</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Questioning ]'>Questioning </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reading]' id='readingSecondaryCheckbox'>Reading</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reciprocal Teaching ]'>Reciprocal Teaching </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reflection]'>Reflection</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reinforcement]'>Reinforcement</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Research]'>Research</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Review]'>Review</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Role Playing]'>Role Playing</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Service Learning ]'>Service Learning </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Simulations]'>Simulations</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Summarizing ]'>Summarizing </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Technology ]'>Technology </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Testing Hypotheses]'>Testing Hypotheses</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Thematic Instruction ]'>Thematic Instruction </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Visual/Spatial]'>Visual/Spatial</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Word Association]'>Word Association</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Writing]'>Writing</label>
    </div>

    <h3>Learning Resource Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Active]'>Active</label>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Expositive]'>Expositive</label>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Mixed]'>Mixed</label>
    </div>

    <h3>Media Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Activity]'>Activity</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Assessment]'>Assessment</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Audio]' id='audioSecondaryCheckbox'>Audio</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Broadcast]'>Broadcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Calculator]'>Calculator</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Discussion]'>Discussion</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[E-Mail]'>E-Mail</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Field Trip]'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Hands-on]'>Hands-on</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[In-Person/Speaker]'>In-Person/Speaker</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Kinesthetic]'>Kinesthetic</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Lab Material (Printed Activities - Instruments - Samples...)]'>Lab Material (Printed Activities - Instruments - Samples...)</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Lesson Plan]'>Lesson Plan</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Manipulative]'>Manipulative</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[MBL (Microcomputer Based)]'>MBL (Microcomputer Based)</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Model]'>Model</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[On-Line]' id='onlineSecondaryCheckbox'>On-Line</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Podcast]'>Podcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Presentation]'>Presentation</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Printed]'>Printed</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Quiz]'>Quiz</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Robotics]'>Robotics</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Still Image]'>Still Image</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Test]'>Test</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Video]' id='videoSecondaryCheckbox'>Video</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Wiki]'>Wiki</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Worksheet]'>Worksheet</label>
    </div>

    <h3>Group Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Audio CD]'>Audio CD</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Audiotape]'>Audiotape</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Calculator]'>Calculator</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[CD-I]'>CD-I</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[CD-ROM]'>CD-ROM</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Diskette]'>Diskette</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Duplication Master]'>Duplication Master</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[DVD/ Blu-ray]'>DVD/ Blu-ray</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[E-Mail]'>E-Mail</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Electronic Slides]'>Electronic Slides</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Field Trip]'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Filmstrip]'>Filmstrip</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Flash]'>Flash</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Image]'>Image</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[In-Person/Speaker]'>In-Person/Speaker</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Interactive Whiteboard]'>Interactive Whiteboard</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Manipulative]'>Manipulative</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[MBL (Microcomputer Based)]'>MBL (Microcomputer Based)</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Microfiche]'>Microfiche</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Overhead]'>Overhead</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Pamphlet]'>Pamphlet</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[PDF]'>PDF</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Person-to-Person]'>Person-to-Person</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Phonograph Record]'>Phonograph Record</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Photo]'>Photo</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Podcast]'>Podcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Printed]'>Printed</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Radio]'>Radio</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Robotics]'>Robotics</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Satellite]'>Satellite</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Slides]'>Slides</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Television]'>Television</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Transparency]'>Transparency</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Video Conference]'>Video Conference</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Videodisc]'>Videodisc</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Webpage]'>Webpage</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Wiki]'>Wiki</label>
    </div>

  </div>

  <div class='results _search'>

  </div>

</div>


<div class='item hidden'>
  <h3>Resource Alpha Text</h3>
  <h4>Provider Organization</h4>

</div>