
<div class='container'>

  <button class='close'></button>
  <button class='filters'></button>

  <div class='accordion _facets'>
    <h3>Intended End User Role</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Administrator]' value='end001'>Administrator</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Mentor]' value='end002'>Mentor</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Parent]' value='end003'>Parent</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Peer Tutor]' value='end004'>Peer Tutor</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Specialist]' value='end005'>Specialist</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Student]' value='end006'>Student</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Teacher]' value='end007'>Teacher</label>
      <label class='checkbox'><input type='checkbox' name='properties.intendedEndUserRole[Team]' value='end008'>Team</label>
    </div>

    <h3>Typical Age Range</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[0-2]' value='aR001'>0-2</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[3-5]' value='aR002'>3-5</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[5-8]' value='aR003'>5-8</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[8-10]' value='aR004'>8-10</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[10-12]' value='aR005'>10-12</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[12-14]' value='aR006'>12-14</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[14-16]' value='aR007'>14-16</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[16-18]' value='aR008'>16-18</label>
      <label class='checkbox'><input type='checkbox' name='properties.typicalAgeRange[18+]' value='aR009'>18+</label>
    </div>

    <h3>Educational use</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Activity]' value='eU001'>Activity</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Analogies]' value='eU002'>Analogies</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Assessment]' value='eU003'>Assessment</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Auditory]' value='eU004'>Auditory</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Brainstorming]' value='eU005'>Brainstorming</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Classifying]' value='eU006'>Classifying</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Comparing]' value='eU007'>Comparing</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Cooperative Learning]' value='eU008'>Cooperative Learning</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Creative Response]' value='eU009'>Creative Response</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Demonstration]' value='eU010'>Demonstration</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Differentiation ]' value='eU011'>Differentiation </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Discovery Learning]' value='eU012'>Discovery Learning</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Discussion/Debate]' value='eU013'>Discussion/Debate</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Drill & Practice]' value='eU014'>Drill & Practice</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Experiential]' value='eU015'>Experiential</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Field Trip]' value='eU016'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Game]' value='eU017'>Game</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Generating hypotheses]' value='eU018'>Generating hypotheses</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Guided questions ]' value='eU019'>Guided questions </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Hands-on]' value='eU020'>Hands-on</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Homework]' value='eU021'>Homework</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Identify similarities & differences]' value='eU022'>Identify similarities & differences</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Inquiry]' value='eU023'>Inquiry</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interactive]' value='eU024'>Interactive</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interview/Survey]' value='eU025'>Interview/Survey</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Interviews]' value='eU026'>Interviews</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Introduction]' value='eU027'>Introduction</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Journaling ]' value='eU028'>Journaling </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Kinesthetic]' value='eU029'>Kinesthetic</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Laboratory]' value='eU030'>Laboratory</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Lecture]' value='eU031'>Lecture</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Metaphors]' value='eU032'>Metaphors</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Model & Simulation]' value='eU033'>Model & Simulation</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Musical]' value='eU034'>Musical</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Nonlinguistic ]' value='eU035'>Nonlinguistic </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Note taking ]' value='eU036'>Note taking </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Peer Coaching]' value='eU037'>Peer Coaching</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Peer Response]' value='eU038'>Peer Response</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Play]' value='eU039'>Play</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Presentation]' value='eU040'>Presentation</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Problem Solving]' value='eU041'>Problem Solving</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Problem Based]' value='eU042'>Problem Based</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Project]' value='eU043'>Project</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Questioning ]' value='eU044'>Questioning </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reading]' value='eU045'>Reading</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reciprocal Teaching ]' value='eU046'>Reciprocal Teaching </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reflection]' value='eU047'>Reflection</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Reinforcement]' value='eU048'>Reinforcement</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Research]' value='eU049'>Research</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Review]' value='eU050'>Review</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Role Playing]' value='eU051'>Role Playing</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Service Learning ]' value='eU052'>Service Learning </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Simulations]' value='eU053'>Simulations</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Summarizing ]' value='eU054'>Summarizing </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Technology ]' value='eU055'>Technology </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Testing Hypotheses]' value='eU056'>Testing Hypotheses</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Thematic Instruction ]' value='eU057'>Thematic Instruction </label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Visual/Spatial]' value='eU058'>Visual/Spatial</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Word Association]' value='eU059'>Word Association</label>
      <label class='checkbox'><input type='checkbox' name='properties.educationalUse[Writing]' value='eU060'>Writing</label>
    </div>

    <h3>Learning Resource Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Active]' value='iT001'>Active</label>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Expositive]' value='iT002'>Expositive</label>
      <label class='checkbox'><input type='checkbox' name='properties.interactivityType[Mixed]' value='iT003'>Mixed</label>
    </div>

    <h3>Media Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Activity]' value='lR001'>Activity</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Assessment]' value='lR002'>Assessment</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Audio]' value='lR003'>Audio</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Broadcast]' value='lR004'>Broadcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Calculator]' value='lR005'>Calculator</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Discussion]' value='lR006'>Discussion</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[E-Mail]' value='lR007'>E-Mail</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Field Trip]' value='lR008'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Hands-on]' value='lR009'>Hands-on</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[In-Person/Speaker]' value='lR010'>In-Person/Speaker</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Kinesthetic]' value='lR011'>Kinesthetic</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Lab Material (Printed Activities - Instruments - Samples...)]' value='lR012'>Lab Material (Printed Activities - Instruments - Samples...)</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Lesson Plan]' value='lR013'>Lesson Plan</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Manipulative]' value='lR014'>Manipulative</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[MBL (Microcomputer Based)]' value='lR015'>MBL (Microcomputer Based)</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Model]' value='lR016'>Model</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[On-Line]' value='lR018'>On-Line</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Podcast]' value='lR019'>Podcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Presentation]' value='lR020'>Presentation</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Printed]' value='lR021'>Printed</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Quiz]' value='lR022'>Quiz</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Robotics]' value='lR023'>Robotics</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Still Image]' value='lR024'>Still Image</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Test]' value='lR025'>Test</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Video]' value='lR026'>Video</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Wiki]' value='lR027'>Wiki</label>
      <label class='checkbox'><input type='checkbox' name='properties.learningResourceType[Worksheet]' value='lR028'>Worksheet</label>
    </div>

    <h3>Group Type</h3>
    <div>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Audio CD]' value='mT001'>Audio CD</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Audiotape]' value='mT002'>Audiotape</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Calculator]' value='mT003'>Calculator</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[CD-I]' value='mT004'>CD-I</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[CD-ROM]' value='mT005'>CD-ROM</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Diskette]' value='mT006'>Diskette</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Duplication Master]' value='mT007'>Duplication Master</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[DVD/ Blu-ray]' value='mT008'>DVD/ Blu-ray</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[E-Mail]' value='mT009'>E-Mail</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Electronic Slides]' value='mT010'>Electronic Slides</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Field Trip]' value='mT011'>Field Trip</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Filmstrip]' value='mT012'>Filmstrip</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Flash]' value='mT013'>Flash</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Image]' value='mT014'>Image</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[In-Person/Speaker]' value='mT015'>In-Person/Speaker</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Interactive Whiteboard]' value='mT016'>Interactive Whiteboard</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Manipulative]' value='mT017'>Manipulative</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[MBL (Microcomputer Based)]' value='mT018'>MBL (Microcomputer Based)</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Microfiche]' value='mT019'>Microfiche</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Overhead]' value='mT020'>Overhead</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Pamphlet]' value='mT021'>Pamphlet</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[PDF]' value='mT022'>PDF</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Person-to-Person]' value='mT023'>Person-to-Person</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Phonograph Record]' value='mT024'>Phonograph Record</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Photo]' value='mT025'>Photo</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Podcast]' value='mT026'>Podcast</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Printed]' value='mT027'>Printed</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Radio]' value='mT028'>Radio</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Robotics]' value='mT029'>Robotics</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Satellite]' value='mT030'>Satellite</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Slides]' value='mT031'>Slides</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Television]' value='mT032'>Television</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Transparency]' value='mT033'>Transparency</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Video Conference]' value='mT034'>Video Conference</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Videodisc]' value='mT035'>Videodisc</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Webpage]' value='mT036'>Webpage</label>
      <label class='checkbox'><input type='checkbox' name='properties.mediaType[Wiki]' value='mT037'>Wiki</label>
    </div>

  </div>

  <div class='results _search'>

  </div>

</div>
