<div class='_mathematics panel'>
    <%= render "mathematics" %>
</div>

<div class='_languagearts panel'>
  <%= render "languagearts" %>
</div>

<div class='_search panel'>
  <%= render "search" %>
</div>