<div class='accordion'>
  <div id='accordion'>
    <h3>Popularity</h3>
    <div>

    </div>
    <h3>Group Type</h3>
    <div>

    </div>
    <h3>Other</h3>
    <div>

    </div>
    <h3>Other</h3>
    <div>

    </div>
  </div>
</div>
<div class='notaccordion'>
  <div class='search'>
    <div class='search-input'>
      <input type='text' name='filter[text]' placeholder='SEARCH HERE' />
    </div>
    <div class='search-buttons'>
      <button>Find It!</button><button>Clear All</button>
    </div>
  </div>
  <div class='pagination'>Pagination will go here...</div>
  <div class='results'>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-1.png' />
        <div>
          <h3>Something g&hellip;</h3>
          <h4>provider</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>

    <div class='item'>
      <div class='inner'>
        <img src='/assets/tmp-2.png' />
        <div>
          <h3>Chemistry Video</h3>
          <h4>Provider Name</h4>
          <hr />
          <img src='/assets/popularity-pill-on.png' /><img src='/assets/popularity-pill-off.png' /><img src='/assets/popularity-pill-off.png' />
        </div>
      </div>
    </div>



  </div>
</div>