<div class='accordion'>
  <div id='accordion'>
    <h3>Popularity</h3>
    <div>

    </div>
    <h3>Group Type</h3>
    <div>

    </div>
    <h3>Other</h3>
    <div>

    </div>
    <h3>Other</h3>
    <div>

    </div>
  </div>
</div>
<div class='notaccordion'>
  <div class='search'>
    <div class='search-input'>
      <input type='text' name='filter[text]' placeholder='SEARCH HERE' />
    </div>
    <div class='search-buttons'>
      <button>Find It!</button><button>Clear All</button>
    </div>
  </div>
  <div class='pagination'>Pagination will go here...</div>
  <div class='results'>



  </div>
</div>

<div class='item hidden' data-itemid=''>
  <div class='inner'>
    <img class='thumb' src='' />
    <div>
      <h3></h3>
      <h4></h4>
      <hr />
      <img src='' /><img src='' /><img src='' />
    </div>
  </div>
</div>
