
.pull-left { float: left; }
.pull-right { float: right; }

.font-opensans {
  font-family: 'Open Sans', Arial;
}

body {
  margin:0;
  padding:0;
}

div.container {
  margin: auto;
  width: 1024px;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  height: 50px;
  background-color: #000000;

  ul {
    margin: 0 30px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    li {
      display: inline;
      color: #ffffff;
      a {
        color: #0099cc;
      }
    }
  }

  div.image {
    float: left;
    img {
      margin: 0 30px;
    }
  }

  div.user {
    float: right;
    position: relative;
    z-index: 1500;
    ul li {
      line-height: 70px;
    }
  }

  div.grade {
    cursor: default;
    height: 50px;
    text-align: center;
    ul {
      cursor: default;
      position: relative;
      top: 25px;
      z-index: 1000;
      li {
        cursor: default;
        margin: 0 10px;
        color: #aaaaaa;
        &.selected {
          color: #ffffff;
        }
      }
    }
  }

  div.slider-handle-left,
  div.slider-handle-right {
    display: none;
    cursor: col-resize;
    z-index: 1005;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 15px;
    background: url(/assets/gradeslider-arrows.png) no-repeat;
    &.snapping {
      padding-left: 1px;
    }
  }

  div.grade-slider {
    position: absolute;
    top: 0;
    z-index: 100;
    .inner {
      height: 50px;
      margin-left: 16px;
      margin-right: 16px;
      background: url(/assets/gradeslider-gradient.png) repeat-x;
    }
  }

}

div.middle {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 30px;
  background-image: url(/assets/background.png);
  background-size: 100% 100%;

  div.subjects {
    text-align: center;
    margin-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      text-shadow: 1px 1px 1px #eeeeee;
      li {
        z-index: 100;
        display:inline;
        height: 60px;
        line-height: 60px;
        margin: 0 30px;
        &.disabled {
          color: #ababab;
        }
        &.selected {
          color: #0099cc;
        }
        &.watermark {
          float: left;
          font-size: 22px;
          font-weight: 200;
          margin-right: -120px;
          strong {
            font-weight: 600;
          }
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
    div.subject-cursor {
      display: none;
      z-index: 50;
      position: absolute;
      top: 45px;
      left: 0;
      width: 156px;
      height: 12px;
      background: url(/assets/subject-cursor.png) no-repeat;
    }
  }

  div.featured {
    text-align: center;
  }

  div.divider {
    margin-top: 15px;
    background: url(/assets/page-divider.png) repeat-x top;
    text-align: center;
    a {
      display: inline-block;
      margin-top: 3px;
      width: 89px;
      height: 19px;
      background: url(/assets/page-tab-close.png) no-repeat;
      &.closed {
        background: url(/assets/page-tab-open.png) no-repeat;
      }
    }
  }

  div.content {
    margin: 0 28px;
    ul.tabs {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 9px;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      li {
        position: relative;
        z-index: 10;
        width: 85px;
        height: 17px;
        display: inline-block;
        text-align: center;
        background: url(/assets/tab-inactive.png) no-repeat;
        &.browse {
          left: -20px;
        }
        a {
          color: #333333;
          font-weight: 800;
          line-height: 8px;
          text-decoration: none;
          vertical-align: bottom;
        }
        &.active {
          z-index: 100;
          background: url(/assets/tab-active.png) no-repeat;
          a {
            color: #ffffff;
          }
        }
      }
    }
    div.main {
      float: left;
      border: 1px solid black;
      width: 743px;
      height: 333px;
      margin-right: 23px;
    }
    div.collections {
      float:left;
      border: 1px solid black;
      width: 198px;
      height: 333px;
      div.title {
        border-bottom: 1px solid #000000;
        border-top: 1px solid #ececec;
        display: block;
        padding-left: 6px;
        line-height: 22px;
        height: 23px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 1px 1px 1px #ffffff;
        font-style: italic;
        font-weight: 500px;
        background: #cccccc;
      }
      div.pagination {
        border-top: 1px solid #ececec;
        display: block;
        padding-left: 6px;
        line-height: 22px;
        height: 23px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        text-shadow: 1px 1px 1px #ffffff;
        font-style: italic;
        font-weight: 500px;
        background: #cccccc;
      }
    }
  }
}

div.item {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 198px;
  background: #e7e8e9;
  display: inline-block;
  border-top: 1px solid black;
  div.inner {
    border-top: 1px solid #ececec;
  }
  &.landingzone {
    color: #666666;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
    font-style: italic;
    text-align: center;
    background: #cccccc;
    span {
      color: #333333;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 500;
    }
    div {
      padding-top: 16px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  height: 30px;
  background-color: #000000;

  ul {
    margin: 0 30px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: arial;
    li {
      display: inline;
      color: #ffffff;
      line-height: 32px;
      a {
        color: #0099cc;
      }
    }
  }

}

