
.pull-left { float: left; }
.pull-right { float: right; }

.font-opensans {
  font-family: 'Open Sans', Arial;
}

body {
  margin:0;
  padding:0;
  background-image: url(/assets/background.png);
  background-size: 100% 100%;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  height: 50px;
  background-color: #000000;

  ul {
    margin: 0 30px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    li {
      display: inline;
      color: #ffffff;
      a {
        color: #0099cc;
      }
    }
  }

  div.image {
    float: left;
    img {
      margin: 0 30px;
    }
  }

  div.user {
    float: right;
    ul li {
      line-height: 70px;
    }
  }

  div.grade {
    height: 50px;
    text-align: center;
    ul {
      position: relative;
      top: 25px;
      z-index: 1000;
      li {
        margin: 0 10px;
        color: #aaaaaa;
        &.selected {
          color: #ffffff;
        }
      }
    }
  }

  div.slider-handle-left,
  div.slider-handle-right {
    z-index: 1005;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 15px;
    background: url(/assets/gradeslider-arrows.png) no-repeat;
    &.snapping {
      padding-left: 1px;
    }
  }

  div.grade-slider {
    position: absolute;
    top: 0;
    z-index: 100;
    .inner {
      height: 50px;
      margin-left: 16px;
      margin-right: 16px;
      background: url(/assets/gradeslider-gradient.png) repeat-x;
    }
  }

}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  height: 30px;
  background-color: #000000;

  ul {
    margin: 0 30px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family: arial;
    li {
      display: inline;
      color: #ffffff;
      line-height: 32px;
      a {
        color: #0099cc;
      }
    }
  }

}

