<!DOCTYPE html>
<html>
<head>
  <title>inBloom Browser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='container'>

      <div class='user'>
        <ul class='user'>
          <li class='pull-right'><a href="#">Logout</a></li>
          <li class='pull-right'>Hi <a href="#">Mary</a>&nbsp;|&nbsp;</li>
        </ul>
      </div>

      <div class='image'>
        <img src="/assets/inbloom.png" />
      </div>

      <div class='grade'>

        <ul>
          <li class='_0'>K</li>
          <li class='_1'>1</li>
          <li class='_2'>2</li>
          <li class='_3'>3</li>
          <li class='_4'>4</li>
          <li class='_5'>5</li>
          <li class='_6'>6</li>
          <li class='_7'>7</li>
          <li class='_8'>8</li>
          <li class='_9'>9</li>
          <li class='_10'>10</li>
          <li class='_11'>11</li>
          <li class='_12'>12</li>
        </ul>

        <div class='slider-handle-left'></div>
        <div class='slider-handle-right'></div>
        <div class='grade-slider'>
          <div class='inner'>
          </div>
        </div>

      </div>

    </div>
  </header>

  <div class='container'>
    <div class='featured'>

    </div>

    <div class='content'>
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class='container'>
      <ul>
        <li class='pull-right'><a href="#">Privacy Policy</a></li>
        <li class='pull-right'><a href="#">Terms of Use</a>&nbsp;|&nbsp;</li>
        <li class='font-opensans'>inBloom is a Trademark of inBloom, Inc.</li>
      </ul>
    </div>
  </footer>
</body>
</html>
