<!DOCTYPE html>
<html>
<head>
  <title>inBloom Browser</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <form id="superform" method="post" action="/">
    <input type='hidden' name='grade[minimum]' id='form-grade-minimum' />
    <input type='hidden' name='grade[maximum]' id='form-grade-maximum' />
    <input type='hidden' name='subject' id='form-subject' />

    <header>
      <div class='container'>

        <div class='image'>
          <img src="/assets/inbloom.png" />
        </div>

        <div class='grade'>
          <span>K</span>
          <ul>
            <li class='_0'></li><li class='_1'></li><li class='_2'></li><li class='_3'></li><li class='_4'></li><li class='_5'></li><li class='_6'></li><li class='_7'></li><li class='_8'></li><li class='_9'></li><li class='_10'></li><li class='_11'></li><li class='_12'></li>
          </ul>
          <span>12</span>

          <div class='slider-handle-left'></div>
          <div class='slider-handle-right'></div>
        </div>

        <div class='search'>
          <input type="text" name="search" id="form-search-filter" placeholder="Search" />
        </div>
      </div>
    </header>

    <div class='middle'>
    </div>


    <div class='main'>
        <div class='container'>

              <%= yield %>

        </div>
    </div>

  </form>
</body>
</html>
